<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TsePublicV2Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://service.tsetmc.com/WebService/TsePublicV2.asmx"
                binding="basicHttpBinding" bindingConfiguration="TsePublicV2Soap"
                contract="ServiceReference1.TsePublicV2Soap" name="TsePublicV2Soap" />
        </client>
    </system.serviceModel>
</configuration>